# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# macOS misc files
.DS_Store
/.DS_Store
**/.DS_Store
*.pem

# Environment variables
.env
.env.local
.env.*.local

# Extension key files
extension.pem