html.opendyslexic-enabled {
  font-family: "OpenDyslexic", sans-serif !important;
}

html.opendyslexic-enabled body,
html.opendyslexic-enabled input,
html.opendyslexic-enabled button,
html.opendyslexic-enabled select,
html.opendyslexic-enabled textarea,
html.opendyslexic-enabled pre,
html.opendyslexic-enabled code,
html.opendyslexic-enabled kbd,
html.opendyslexic-enabled samp {
  font-family: inherit !important;
}

html.letter-spacing-enabled {
  letter-spacing: 0.15em !important;
  word-spacing: 0.25em !important;
}

html.letter-spacing-enabled input,
html.letter-spacing-enabled button,
html.letter-spacing-enabled select,
html.letter-spacing-enabled textarea {
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
}
